.text {
	margin-top: resize_vw(20, $pc);
	font-size: resize_vw(14, $pc);
  font-weight: 400;
  @include devices(1000) {
    // font-size: 15px;
  }

  span.content-event-first {
    float: left;
    font-size: resize_vw(40, $pc);
    line-height: resize_vw(5, $pc);
    margin: resize_vw(4, $pc) resize_vw(2, $pc) 0px 0px;
  }
  h1,
  .content-event-h1 {
    font-size: resize_vw(19, $pc);
    color: #f57825;
    padding: 4px 0 8px 35px;
    position: relative;
    font-family: "cambriab";
    &:before {
      content: "";
      width: resize_vw(35, $pc);
      height: resize_vw(25, $pc);
      background: url(../images/h1.png) no-repeat center center;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: resize_vw(3, $pc);
    }
  }
  h2,
  .content-event-h2 {
    margin-left: resize_vw(5, $pc);
    font-size: resize_vw(16, $pc);
    font-weight: bold;
    padding-left: resize_vw(30, $pc);
    color: #f57825;
    // color: #693c03;
    font-family: "cambriab";
    margin-bottom: resize_vw(10, $pc);
    margin-top: resize_vw(10, $pc);
    position: relative;
    &:before {
      content: "";
      width: resize_vw(25, $pc);
      height: resize_vw(25, $pc);
      background: url(../images/h2.png) no-repeat 1px 1px transparent;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: 0px;
    }
  }
  a {
    color: #1e88d2;
    font-weight: 500;
  }
  ul {
    margin-left: resize_vw(25, $pc);
    li {
      line-height: resize_vw(30, $pc);
    }
  }
  p {
    // line-height: 30px;
    margin-bottom: resize_vw(10, $pc);
    img {
      margin-top: resize_vw(15, $pc);
      margin-bottom: resize_vw(15, $pc);
      max-width: 100%;
      height: auto;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: resize_vw(15, $pc);
    margin-bottom: resize_vw(15, $pc);
    margin-left: auto;
    margin-right: auto;
    @include devices(1024) {
      width: auto;
    }
    tr {
      td {
        border: 1px solid #ddccdd;
        margin: 0;
        padding: resize_vw(5, $pc);
        vertical-align: middle !important;
        text-align: center;
      }
      &:first-child {
        background: #f57825;
        td {
          font-family: "cambriab";
          p {
            font-family: "cambriab";
            color: #444444;
          }
        }
      }
    }
  }
  fieldset {
    border: 1px solid #ddccdd;
    margin: resize_vw(20, $pc) 0;
    padding: resize_vw(10, $pc);
    color: #2a2a2a;
    background: #f3f3f3;
    legend {
      color: white;
      background: #fb8142;
      font-family: "cambriab";
      padding: 0 resize_vw(15, $pc);
    }
    ul {
      margin-left: resize_vw(15, $pc);
    }
  }
  strong {
    font-family: "cambriab";
  }
  em {
    font-style: italic;
  }
}

table {
  img {
    display: block;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: resize_vw(14, $pc);
  margin-top: resize_vw(10, $pc);
  thead {
    tr {
      background: #f57825;
      td {
        color: $color_white;
      }
    }
  }
  tr {
    &:first-child td {
      // background-color: #fb8142;
      color: $color_white;
      text-align: center;
      // padding: 10px;
    }
    td {
      border: 1px solid #ddccdd;
      vertical-align: middle;
      font-weight: normal;
      text-align: center;
      padding: resize_vw(5, $pc) 0px;
    }
  }
}
